{%% extends "pos/base.html" %%}
{%% load crispy_forms_tags %%}

{%% block title %%}Promoción POS - Formulario{%% endblock %%}

{%% block content %%}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h4><i class="fas fa-tags"></i> Promoción POS - Formulario</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {%% csrf_token %%}
                    {{ form|crispy }}
                    
                    <div class="form-group mt-4">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="{%% url 'pos:promocionespos_list' %%}" class="btn btn-secondary">
                                    <i class="fas fa-arrow-left"></i> Cancelar
                                </a>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-save"></i> Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%% endblock %%}