{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if form.instance.pk %}
        Editar Cita
    {% else %}
        Agendar Nueva Cita
    {% endif %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h3>
                {% if form.instance.pk %}
                    Editar Cita
                {% else %}
                    Agendar Nueva Cita
                {% endif %}
            </h3>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success mt-3">Guardar Cita</button>
                <a href="{% if form.instance.pk %}{% url 'cita_detail' form.instance.pk %}{% else %}{% url 'cita_list' %}{% endif %}" class="btn btn-secondary mt-3">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %} 