{% extends 'base.html' %}

{% block title %}{{ module_name }} - HMetaHIS{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3><i class="fas fa-notes-medical me-2"></i>{{ module_name }}</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card bg-info text-white">
                                <div class="card-body">
                                    <h5>Consultas Total</h5>
                                    <h2>{{ consultas_total }}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card bg-warning text-white">
                                <div class="card-body">
                                    <h5>Historial Médico</h5>
                                    <h2>Activo</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <h5>Acciones Rápidas</h5>
                            <a href="/patients/historias/" class="btn btn-primary me-2">Ver Historias Clínicas</a>
                            <a href="/patients/lista/" class="btn btn-success">Gestionar Pacientes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}